<!DOCTYPE html>
<html lang="en" ng-app="diaryApp" ng-controller="EntriesCtrl">
<head>
  <meta charset="UTF-8">
  <title>Diary app</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <script src="moment.min.js"></script>
  <script src="underscore.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="angular-resource.min.js"></script>
  <script src="angular-route.min.js"></script>
  <script src="angular-sanitize.min.js"></script>
  <script src="entriesservice.js"></script>
  <script src="entriesctrl.js"></script>
</head>
<body>
<div>
  <nav>
    <input class="searchbox" placeholder="Search..." ng-model="query">
    <div class="sortorder">
      Sort by: 
      <select ng-model="orderProp" ng-init="orderProp='-timestamp'">
        <option value="-timestamp">Descending</option>
        <option value="+timestamp">Ascending</option>
      </select>
    </div> 
    <ul> <li ng-repeat="day in days() track by $index"><a href="#/{{day}}">{{day}}</a></li> </ul>
  </nav>
  <div class="entries">
    <div class="entry" ng-repeat="entry in entries | filter: query | orderBy: orderProp">
      <div class="entry-head">
        <div class="date">{{getFormattedEntryDate(entry)}}</div>
        <div class="metadata">
          <div class="wordcount">{{entry.wordcount}}</div>
          <div class="id">{{entry.id}}</div>
        </div>
      </div>
      <div class="entry-body" ng-bind-html="entry.html"></div>
    </div>
  </div>
</div>
</body>
</html>
