nav {
  position: fixed;
  left: 0;
  margin-left: 6px;
  border: 1px solid #B3B3B2;
  border-radius: 4px; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3em; }
    nav ul a {
      text-decoration: none;
      font-family: sans-serif;
      font-size: 1.2em; }
    nav ul a.today {
      color: #404040;
      font-weight: bold; }

.entries {
  left: 120px;
  width: calc(100% - 120px);
  position: relative; }

.entry {
  font-family: sans-serif;
  font-size: 1.2em;
  width: 90%;
  min-width: 500px;
  max-width: 650px;
  padding: 0.3em;
  border: 1px solid #B3B3B2;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px; }

.entry-body {
  color: #404040; }

.entry-head {
  height: 2.4em;
  border-bottom: 1px solid #B3B3B2; }

.entry-head .metadata {
  float: right; }

.entry-head .date {
  font-size: 1.8em;
  text-align: left;
  float: left;
  color: #404040; }

.entry-head .wordcount {
  font-size: 0.7em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right; }

.entry-head .id {
  font-size: 0.5em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right; }

.entry-body img {
  width: 100%; }

.entry-body video {
  width: 100%; }

.hashtag {
  background-color: #DDDDDD;
  font-family: monospace;
  border-radius: 4px; }
