<!DOCTYPE html>
<html lang="en" ng-app="diaryApp" ng-controller="EntriesCtrl">
<head>
  <meta charset="UTF-8">
  <title>Diary app</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  <script src="moment.min.js"></script>
  <script src="underscore.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="angular-resource.min.js"></script>
  <script src="angular-sanitize.min.js"></script>
  <script src="entriesservice.js"></script>
  <script src="entriesctrl.js"></script>
</head>
<body>
<div>
  Search: <input ng-model="query"> <span ng-hide="!query || query.length===0">Query is: {{query}}</span>
  <span>Sort by: </span> 
  <select ng-model="orderProp" ng-init="orderProp='-date'">
    <option value="-date">Descending</option>
    <option value="+date">Ascending</option>
  </select>
  <nav>
    <ul> <li ng-repeat="day in days() track by $index"><a href="{{day}}.html">{{day}}</a></li> </ul>
  </nav>
  <div class="entries">
    <div class="entry" ng-repeat="entry in entries | filter: query | orderBy: orderProp">
      <div class="entry-head">
        <div class="date">{{getFormattedEntryDate(entry)}}</div>
        <div class="metadata">
          <div class="wordcount">{{entry.wordcount}}</div>
          <div class="id">{{entry.id}}</div>
        </div>
      </div>
      <div class="entry-body" ng-bind-html="entry.html"></div>
    </div>
  </div>
</div>
</body>
</html>
