{% extends "default.html" %}

{% block title %}{{ entries[0].date.strftime('%a %d %b %Y') }}{% endblock title %}

{% block content %}
  <a class="previous-day" href="{{ previous_day }}.html"><span>&#10094;</span></a>
  <a class="next-day" href="{{ next_day }}.html"><span>&#10095;</span></a>
  <div class="entries">
  {% for entry in entries %}
    <div class="entry">
      <div class="entry-head">
        <div class="date">{{ entry.date.strftime('%a %d %b %H:%M') }}</div>
        <div class="metadata">
          <div class="wordcount">{{ entry.wordcount }} words</div>
          <div class="id">{{ entry.id }}</div>
        </div>
      </div>
      <div class="entry-body">{{ entry.html }}</div>
    </div>
  {% endfor %}
  </div>
{% endblock content %}
