body {
  font-family: sans-serif;
  font-size: 1.2em;
  overflow-y: scroll;
}

.previous-day, .next-day {
  position: fixed;
  top: 0px;
  height: 100%;
  width: calc(50% - 350px);

  font-size: 60px;
  text-decoration: none;

  display: table;
}

.previous-day span, .next-day span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.previous-day {
  left: 0px;
}

.next-day {
  right: 0px;
}

.entries {
}

.entry {
  max-width: 650px;
  padding: 0.3em;
  border: 1px solid #B3B3B2;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.entry-body {
  color: #404040;
}

.entry-head {
  height: 2.4em;
  border-bottom: 1px solid #B3B3B2;
}

.entry-head .metadata {
  float: right;
}

.entry-head .date {
  font-size: 1.8em;
  text-align: left;
  float: left;
  color: #404040;
}

.entry-head .wordcount {
  font-size: 0.7em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right;
}

.entry-head .id {
  font-size: 0.5em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right;
}

.hashtag {
  background-color: #DDDDDD;
  font-family: monospace;
  border-radius: 4px;
}

img, video {
  max-width: 100%;
}

pre {
  overflow-x: auto;
}
