nav {
  position: fixed;
  left: 0;
  width: 10%;
  border: 1px solid #B3B3B2;
  border-radius: 4px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3em;

    a {
      text-decoration: none;
      font-family: sans-serif;
      font-size: 1.2em;
    }
  }
}



.entry {
  font-family: sans-serif;
  font-size: 1.2em;

  width: 600px;
  padding: 0.3em;
  border: 1px solid #B3B3B2;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.entry-body {
  color: #404040;
}

.entry-head {
  height: 2.4em;
  border-bottom: 1px solid #B3B3B2;
}

.entry-head .metadata {
  float: right;
}

.entry-head .date {
  font-size: 1.8em;
  text-align: left;
  float: left;
  color: #404040;
}

.entry-head .wordcount {
  font-size: 0.7em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right;
}

.entry-head .id {
  font-size: 0.5em;
  color: #B3B3B2;
  text-align: right;
  float: right;
  clear: right;
}

$button-size: 40px;

.prev-day {
  position: fixed;
  left: 0px;
  float: left;
  width: 0;
  height: 0;
  border-left: $button-size solid transparent;
  border-top: $button-size solid transparent;
  border-bottom: $button-size solid transparent;
  border-left: $button-size solid transparent;
  border-right: $button-size solid gray;
  margin-top: 20px;
}

.next-day {
  position: fixed;
  right: 0px;
  float: right;
  width: 0;
  height: 0;
  border-top: $button-size solid transparent;
  border-bottom: $button-size solid transparent;
  border-right: $button-size solid transparent;
  border-left: $button-size solid gray;
  margin-top: 20px;
}



.hashtag {
  background-color: #DDDDDD;
  font-family: monospace;
  border-radius: 4px;
}

/* TODO make it so that the hash is in the regular text rather than added later*/
.hashtag:before {
  content: '#';
}
